<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-2 col-xs-4">
                  <h4>工作机会</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">兼职外包</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>企业资源</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">线下培训</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>关于我们</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">公司介绍</a></li>
                    <li><a href="#s">常见问题</a></li>
                    <li><a href="#s">联系方式</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-12 footer-box">
                  <div>
                    <a href="#s"><%= image_tag("") %></a>
                  </div>
                  <div class="footer-content">
                    <%= image_tag("") %> Denny

                  </div>
                </div>
              </div>
                <hr />
                <p>Designed By <a href="/" target="_blank">Denny Tan</a> | Copyright ©2018 win-win
            </div>
        </div>
    </div>
</footer>
